:root {
    --azul: #726eff;
    --verde-green: #5affe7;
    --verde: #08c6ab;
    --azul-grey: #374658;
    --azul-dark: #212838;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto Condensed', sans-serif;
    background-color: var(--azul-dark);
}


.container {
    max-width: 940px;
    min-width: 940px;
}

/*CABEÇALHO*/

.cabecalho {
    position: fixed;
    top: 0;
    background-color: var(--azul-grey);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px 0;
    z-index: 5;
    width: 100%;
}

.cabecalho .container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}

.cabecalho .container .menu a {
    text-decoration: none;
    color: var(--verde-green);
    margin-left: 20px;
    transition: .3s;
}

.cabecalho .container .menu a:last-child{
    border: 1px solid var(--verde-green);
    border-radius: 30px;
    padding: 5px 20px;
    transition: .3s;
}

.cabecalho .container .menu a:not(a:last-child):hover{
    color: var(--verde);
    transition: .3s;
}

.cabecalho .container .menu a:last-child:hover{
    background-color: var(--verde-green);
    color: var(--azul-grey);
    transition: .3s;
}


.logo {
    
    background-color: var(--azul-dark);
    border-radius: 100%;
    padding: 10px;
    color: var(--verde-green);
    margin-right: 15px;
    
}

.logotipo {
    display: flex;
    align-items: center;
}

/*SEÇÕES*/

/*SEÇÃO APRESENTAÇÃO*/

.apresentacao {
    margin-top: 58px;
    display: flex;
    justify-content: center;
    position: relative;
    height: 80vh;
    width: 100%;
    background: linear-gradient(rgba(0, 0, 0, 50%), rgba(0, 0, 0, 50%) 100%), url('../src/img/stars-1654074_1920.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.apresentacao .container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.apresentacao .container .texto-apresentacao {
    background-color: black;
    width: 500px;
    padding: 20px;


}

.apresentacao .container .texto-apresentacao p{
    color: white;
    font-size: 30px;
}

.apresentacao .container .texto-apresentacao p span{
    font-weight: bold;
    color: var(--verde-green);
}

.redes {
    padding: 20px;
}

.redes nav a{
    text-decoration: none;
    color: white;
    font-size: 40px;
    margin-left: 20px;
    transition: 0.3s;
}

.redes nav a:hover{
    color: var(--verde-green);
    transition: 0.3s;
    font-size: 45px;
}

/*SEÇÃO DE PROJETOS*/

.projetos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.projetos .container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.projetos .container .projeto {
    width: 400px;
    height: 600px;
    /* background-color: black; */
    margin: 10px ;
    color: white;
    padding: 10px;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}


.projetos .container .projeto .box-projeto {
    width: 100%;
    height: 400px;
    position: relative;
    background-color: #212838;
    margin-bottom: 120px;

}

.projetos .container .projeto .box-projeto img {
    width: 100%;
    position: absolute;
    z-index: 1;
}

.projetos .container .projeto .box-projeto .label{
    background-color: var(--azul);
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    z-index: 2;
    bottom: -80px;
    left: 80px;
    width: 200px;
    height: 200px;
}

.projetos .container .projeto .ver-projeto{
    text-decoration: none;
    color: white;
    font-size: 20px;
    transition: 0.3s;
    width: 150px;
}

.projetos .container .projeto .ver-projeto:hover{
    color: var(--verde-green);
    transition: 0.3s;
}

.projeto .box-projeto .titulo-projeto {
    font-size: 25px;
}


