:root {
    --azul: #726eff;
    --verde-green: #5affe7;
    --verde: #08c6ab;
    --azul-grey: #374658;
    --azul-dark: #212838;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto Condensed', sans-serif;
    background-color: var(--azul-dark);
}


.container {
    max-width: 940px;
    min-width: 940px;
}

/*CABEÇALHO*/

.cabecalho {
    position: fixed;
    top: 0;
    background-color: var(--azul-grey);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px 0;
    z-index: 5;
    width: 100%;
}

.cabecalho .container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}

.cabecalho .container .menu a {
    text-decoration: none;
    color: var(--verde-green);
    margin-left: 20px;
    transition: .3s;
}

.cabecalho .container .menu a:last-child{
    border: 1px solid var(--verde-green);
    border-radius: 30px;
    padding: 5px 20px;
    transition: .3s;
}

.cabecalho .container .menu a:not(a:last-child):hover{
    color: var(--verde);
    transition: .3s;
}

.cabecalho .container .menu a:last-child:hover{
    background-color: var(--verde-green);
    color: var(--azul-grey);
    transition: .3s;
}


.logo {
    
    background-color: var(--azul-dark);
    border-radius: 100%;
    padding: 10px;
    color: var(--verde-green);
    margin-right: 15px;
    
}

.logotipo {
    display: flex;
    align-items: center;
}

/*SEÇÕES*/

/*SEÇÃO APRESENTAÇÃO*/

.apresentacao {
    margin-top: 58px;
    display: flex;
    justify-content: center;
    position: relative;
    height: 80vh;
    width: 100%;
    background: linear-gradient(rgba(0, 0, 0, 50%), rgba(0, 0, 0, 50%) 100%), url('../src/img/stars-1654074_1920.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.apresentacao .container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.apresentacao .container .texto-apresentacao {
    background-color: black;
    width: 500px;
    padding: 20px;


}

.apresentacao .container .texto-apresentacao p{
    color: white;
    font-size: 30px;
}

.apresentacao .container .texto-apresentacao p span{
    font-weight: bold;
    color: var(--verde-green);
}

.redes {
    padding: 20px;
}

.redes nav a{
    text-decoration: none;
    color: white;
    font-size: 40px;
    margin-left: 20px;
    transition: 0.3s;
}

.redes nav a:hover{
    color: var(--verde-green);
    transition: 0.3s;
    font-size: 45px;
}

/* .apresentacao .background {
    position: absolute;
    width: 100%;
    height: 70vh;
    background: rgb(114,110,255);
    background: linear-gradient(0deg, rgba(114,110,255,1) 0%, rgba(8,198,171,1) 100%);
    -webkit-clip-path: polygon(100% 0, 100% 57%, 51% 81%, 0 59%, 0 0);
    clip-path: polygon(100% 0, 100% 57%, 51% 81%, 0 59%, 0 0);
    z-index: 2;
}

.apresentacao .background-circular {
    position: absolute;
    background: rgb(114,110,255);
    background: linear-gradient(0deg, rgba(114,110,255,1) 0%, rgba(8,198,171,1) 100%);
    width: 2500px;
    height: 1700px;
    border-radius: 100%;
    top: -1250px;
    z-index: 3;
} */


