@media screen and (max-width: 939px){
    .container {
        width: 100%;
        max-width: 100%;
        min-width: 100%;
        padding: 5px 10px;
        
    }

    .cabecalho .container {
        padding: 0 10px;
        
    }

    .cabecalho {
        padding: 0;
    }

    header, main, footer {
        overflow: hidden;
    }

    .menu2 {
        display: block;
    }

    .menu {
        display: none;
    }
}

@media screen and (max-width: 502px){
    .texto-apresentacao{
        width: 100% !important;
    }

    .texto-apresentacao p{
        font-size: 20px !important;
    }

    .habilidades {
        padding: 20px 20px 20px 70px !important;
    }

    .container h2{
        padding: 10px !important;
        text-align: center;
    }

    .box-sobre {
        border: none !important;
    }

    .projetos .container {
        padding: 0 !important;
    }

    .projeto {
        width: 100%;
        padding: 0 !important;
        margin: 0 !important;
    }
    
}

@media screen and (max-width: 375px){
    .projetos .container .projeto {
        width: 100%;
    }

    .projetos .container .projeto .box-projeto img{
        width: 100%;
        height: 400px;
    }

    .projetos .container .projeto .box-projeto .label{
        width: 12.5rem;
        height: 12.5rem;
        bottom: -20%;
    }

    .descricao-projeto{
        align-items: center;
        width: center;
        font-size: 0.8rem;
    }

    .box-sobre.habilidades {
        padding-left: 0 !important;
    }


}